<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <title>we bike</title>
    <link href="/public/styles/style.css" rel="stylesheet"></link>
    <script src="https://unpkg.com/maplibre-gl@^5.13.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@^5.13.0/dist/maplibre-gl.css" rel="stylesheet" />
</head>
<body>
    {{> navbar}}
    <h1>We Bike</h1>
    <p>Southern California GBFS Map</p>
    <div id="map"></div>
    <script src="/public/scripts/map.js"></script>

</body>
</html>