<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Lime</title>
		<link href="/public/styles/main.css" rel="stylesheet">
        <link href="/scripts/lime.js">
	</head>
	<body>
    <h1>Lime</h1>
        <div id="lime-login">
            <form id="limeLoginForm">

                <label for="phone"></label>
                <input id="phone" type="number" name="phone" placeholder="567-09">
                <button type="submit">Send SMS</button>
            </form>
            <pre id="limeOutput">Response will appear here</pre>
        </div>

	</body>
</html>